.border {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background-image: url("download.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 350% auto;
  background-color: black;
  border: solid white 4px;
  border-radius: 20px;
}

.currentdegrees {
  color: white;
  padding: 10px;
  font-size: 100px;
  display: block;
  position: relative;
  left: 0px;
}

h1 {
  color: white;
  padding: 5px;
  display: block;
  position: relative;
  left: 10px;
  font-size: 50px;
}

h2 {
  color: white;
  padding: 5px;
  display: block;
  position: relative;
  left: 10px;
  font-size: 18px;
}

.logo {
  display: block;
  position: relative;
  left: 300px;
  top: -110px;
  padding: 0px;
  margin: 0px;
}

h3 {
  color: white;
  padding: 5px;
  display: block;
  position: relative;
  left: 10px;
  font-size: 18px;
}

h4 {
  color: white;
  padding: 5px;
  display: block;
  position: relative;
  left: 10px;
  font-size: 18px;
}

h4:first-letter {
  text-transform: capitalize;
}

.currentweather {
  color: white;
  padding-top: 10px;
  padding-bottom: 20px;
  display: block;
  position: relative;
  left: 3px;
  font-size: 18px;
}

.futureForecast {
  display: block;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 30px;
}

.days {
  color: white;
  display: block;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  left: -10px;
}

.emoji {
  display: block;
  position: relative;
}

.futureDegrees {
  color: white;
  display: block;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  left: -10px;
}

p {
  font-size: small;
  font-family: monospace;
  text-align: left;
  padding-top: 30px;
}

.active {
  color: white;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}
